.LoginForm {
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    background: rgba(255, 255, 255, 0.69);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.input {
    margin-top: 10px;
}

.loginBtn {
    margin-top: 15px;
    margin-left: auto;
    background: #4318ff;
    border-radius: 16px;
    outline: none;
    margin-left: auto;
    padding: 8px 20px;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
}
