.app.dark {
    --bg-color: #111c44;
    --inverted-bg-color: #1b254b;
    --primary-color: #ffffff;
    --secondary-color: #ffffff;
    --inverted-primary-color: #ffffff;
    --inverted-secondary-color: #ffffff;
}
//7551FF
