.app.dark {
    --bg-color: #111c44;
    --inverted-bg-color: #1b254b;
    --primary-color: #fff;
    --secondary-color: #fff;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #fff;
}
