:root {
    --bg-color: #f4f7fe;
    --inverted-bg-color: #fff;
    --primary-color: #2b3674;
    --secondary-color: #2b3674;
    --inverted-primary-color: #2b3674;
    --inverted-secondary-color: #2b3674;
}
