.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    background: #4318ff;
    border-radius: 16px;
    outline: none;
    margin-left: auto;
    padding: 8px 20px;
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
}

.mainLink {
    margin-right: 15px;
}
